$column-gap: 0.75rem !default;

.container {
    max-width: 1152px;
    margin: 0 auto;
    position: relative;
}

.columns {
    display: flex;
    margin-left: (-$column-gap);
    margin-right: (-$column-gap);
    margin-top: (-$column-gap);
    &:last-child {
        margin-bottom: (-$column-gap);
    }
    &:not(:last-child) {
        margin-bottom: calc(1.5rem - $column-gap);
    }
}

.column {
    background-color: #4532;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
    &.quarter {
        flex: none;
        width: 25%;
    }
    &.half {
        flex: none;
        width: 50%;
    }
    &.three-quarters {
        flex: none;
        width: 75%;
    }
}

.debug {
    background-color: #3672;
    font-weight: 600;
    padding: 1.25rem 0;
    position: relative;
    text-align: center;
}