$column-gap: 0.75rem !default;

.column {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: $column-gap;
    background-color: rgba(255, 21, 0, 0.333);
    .columns.mobile>& {
        &.full {
            flex: none;
            width: 100%;
        }
        &.three-quarters {
            flex: none;
            width: 75%;
        }
        &.two-thirds {
            flex: none;
            width: 66.6666%;
        }
        &.half {
            flex: none;
            width: 50%;
        }
        &.third {
            flex: none;
            width: 33.3333%;
        }
        &.quarter {
            flex: none;
            width: 25%;
        }
    }
}

.columns {
    margin-left: (-$column-gap);
    margin-right: (-$column-gap);
    margin-top: (-$column-gap);
    /* Ensures that nested grids and adjacent columns are even */
    .columns:last-child {
        margin-bottom: (-$column-gap);
    }
    /* Proper spacing between columns */
    &:not(:last-child) {
        margin-bottom: $column-gap;
    }
    &.mobile {
        display: flex;
        flex-flow: row wrap;
    }
}

@media screen and (min-width: 769px) {
    .columns {
        display: flex;
        flex-flow: row wrap;
    }
    .column {
        &.full {
            flex: none;
            width: 100%;
        }
        &.three-quarters {
            flex: none;
            width: 75%;
        }
        &.two-thirds {
            flex: none;
            width: 66.6666%;
        }
        &.half {
            flex: none;
            width: 50%;
        }
        &.third {
            flex: none;
            width: 33.3333%;
        }
        &.quarter {
            flex: none;
            width: 25%;
        }
    }
}



.debug {
    background-color: #2829;
    font-weight: 600;
    padding: 1.25rem 0;
    position: relative;
    text-align: center;
}

.tallboi {
    height: 100%;
}